aniso8601==3.0.2
certifi==2018.10.15
chardet==3.0.4
Click==7.0
coverage==4.5.1
Flask==1.0.2
Flask-Login==0.4.1
Flask-MongoAlchemy==0.7.2
Flask-OAuth==0.12
Flask-RESTful==0.3.6
httplib2==0.12.0
idna==2.7
Jinja2==2.10.1
jsonpickle==1.0
MarkupSafe==1.0
MongoAlchemy==0.19
oauth2==1.9.0.post1
pymongo==2.8.1
python-dateutil==2.7.5
pytz==2018.5
requests==2.20.0
six==1.11.0
urllib3==1.24
Werkzeug==0.15.3
pika==0.13.0

