{% extends "layout.html" %}
{% block title %}Информация о пользователе{% endblock %}
{% block body %}
    <form action="" method="get">
            <table>
            <tr>
                <th> Идентификатор пользователя </th>
                <td> {{ user["user_id"] }}</td>
            </tr>
            <tr>
                <th> Имя пользователя </th>
                <td> {{ user["l_name"] }}</td>
            </tr>
            <tr>
                <th> Admin</th>
                <td> {{ user["admin"] }}</td>
            </tr>
            <tr>
                <th> Статус машины (на починке/нет)</th>
                <td> {{ user["status"] }}</td>
            </tr>
            </table>
            {% if flag=='0' %}
            <a href="{{ url_for('cars.add') }}"> (нажмите, чтобы сдать машину)</a>
            {% endif %}
    </form>
{% endblock %}